* {
    font-family: Roboto;
   padding-right: 30px;
}

th {
    border: 2px solid black;
    background: #51361a;
    border-collapse: collapse;
    padding: 50px !important;
    size: 104px x 104px !important;
}

td {
    border: 2px solid black;
    background: #DDC7A0;
    padding: 50px !important;
    size: 104px x 104px !important;
}

